<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>User Posts</h1>
  <a class="button btn-new" href="/posts/new">New Post</a>

   
    <div class="cnt">
      <% posts.forEach(function(post) { %>
        <div class="post-card">
          <h2 class="username"><%= post.username %></h2>
          <p><%= post.content %></p>
          <a class="button" href="/posts/<%= post.id %>">See Post</a>
          <a class="button" href="/posts/<%= post.id %>/edit">Edit Post</a>
          <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
          <button type="submit" class="button btn" href="/posts/<%= post.id %>/">Delete Post</button>
          </form>
        </div>
      <% }); %>
    </div>

  </div>
</body>
</html>
